- model_class = Resource
.page-header
  %h1
    Kanton Sarajevo 
    %small="Osnovne životne potrebe"
.row
  .span8
    #resource-status.hero-unit
      - @resources.each do |resource|
        .well
          %strong= resource.name
          .pull-right
            = render :partial => "shared/status", :locals => {:status => resource.status, :additional_class => "big"}
            - if can? :manage, :resource
              = link_to t('.edit', :default => t("helpers.links.edit")), edit_resource_path(resource), :class => 'btn btn-mini'
              = link_to t('.destroy', :default => t("helpers.links.destroy")), resource_path(resource), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'
  .span4
    #status
      - Status.all.each do |status|
        .well.well-small
          = status.name
          .pull-right
            = render :partial => "shared/status", :locals => {:status => status}
    %p=@page_content[:project_description]
    %p=@page_content[:info_text]
.row
  .span12
    = render :partial => "quotes/quotes", :locals => {:quotes => @quote, :read_more => true}
